body {
  background: #90e0ef;
  margin: 0;
}
header {
  background-color: #0077b6;
  height: 120px;
  margin-bottom: 20px;
  box-shadow: 5px 1px 5px #888888;
}
h1 {
  margin: 0;
  padding: 40px;
  color: white;
  font-family: "Inter", sans-serif;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-grow: 1;
  padding: 15px;
}

.imgs {
  height: 300px;
  width: 300px;
  border: 5px solid whitesmoke;
}

.container_sub {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.caption {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

form {
  margin-left: 50px;
  margin-bottom: 50px;
}
.input {
  border: none;
  width: 375px;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 15px;
}

p {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: medium;
}

.radio {
  margin: 5px;
}

.label {
  font-family: "Inter", sans-serif;
}

#submit {
  background-color: white;
  border: none;
  margin-top: 20px;
  padding: 10px;
  width: 120px;
  border-radius: 5px;
  font-family: "Inter", sans-serif;
  font-size: medium;
}
